.wrap{
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    font-family: $font-all;
    overflow: hidden;
}

.nav_container{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 1000;
}

.navbar{
    background: #000;
    height: 56px;
    max-width: 1024px;
    opacity: 0.8;
}

.logo{
    float: left;
    margin: 16px 42px;
    h1{
        a{
            background-image: url('../img/logo_w@svg.svg');
            display: block;
            width: 120px;
            height: 24px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.menu{
    float: right;
    li{
        float: left;
        margin: 18px 30px 18px 0;
        a{
            display: block;
            text-decoration: none;
            width: 100%;
            color: $color-top;
        }
    }
}

.header{
    background-image: url('../img/header_desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    position: relative;
    overflow: hidden;
    .banner{
        background: rgba(0, 0, 0, 0.5);
        height: 150px;
        width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: $color-top;
        text-align: center;
        h2{
            font-size: $font-m*2;
            margin: 20px;
        }
        p{
            font-size: $font-s;
            line-height: 20px;
            span{
                margin: 0 5px;
            }
        }
    }
}



.secret{
    background: #efe9e7;
    height: auto;
    padding-top: 50px;
    color: $color-d;
    h2{
        width: 60%;
        border-bottom: 1px solid #000;
        text-align: center;
        position: relative;
        margin: 30px auto;
        font-size: $font-l;
        line-height: 1.5;
        p{
            position: absolute;
            padding: 0 10px;
            bottom: -30px;
            z-index: 100;
            background: #efe9e7;
            left: 50%;
            transform: translateX(-50%);
            span{
                display: block;
                text-align: center;
                font-weight: bold;
            }
        }    
    }
    ul{
        float: right;
    }
    li{
        float: left;
        width: 33.3333%;
        text-align: center;
        margin: 20px 0;
        padding: 10px;
        h3{
            margin: 20px 0;
            font-size: $font-m;
        }
        img{
            border-radius: 100px;
        }
        p{
            text-align: justify;
            padding: 0 20px;
            line-height: 20px;
        }
    }
    
}

.clr{
    clear: both;
}

.chef{
    color: $color-b;
    background: #3D1101;
    height: auto;
    ul{
        float: right;
    }
    li{
        float: left;
        width: 47%;
        margin: 0 0 0 3%;
        img{
            display: block;
        }
        h3{
            font-size: $font-l;
            margin-top: 40px;
            p{
                font-size: $font-s;
                margin-top: 20px;
            }
        }
        >p{
            font-size: $font-s;
            text-align: justify;
            padding: 10px 20px 20px 0;
            line-height: 20px;

        }
    }
}

.feedback{
    height: auto;
    background: #EFE9E7;
    color: $color-d;
    h2{
        text-align: center;
        font-size: $font-s*1.5;
        padding: 50px 0 30px 0;

    }
    ul{
        float: right;
        li{
            float: left;
            width: 29.3333%;
            margin: 2%;
            img{
                float: left;
                border-radius: 33.5px;
            }
            .text-box{
                overflow: hidden;
                padding-left: 10px;
                h3{
                    margin: 20px 0;
                    font-size: $font-m;
                }
                p{
                    line-height: 1.5;
                }
                span{
                    display: block;
                    text-align: right;
                    line-height: 3;
                }
            }
        }
    }   
}

.reservation{
    height: auto;
    background: #F6F4F3;
    color: $color-d;
    padding: 50px;
    h2{
        text-align: center;
        font-size: $font-s*1.5;
        line-height: 30px;
        padding-bottom: 40px;
    }
    .map{
        float: left;
        width: 50%;
    }
    .form{
        float: left;
        width: 50%;
        padding: 20px 20px 20px 40px;
        p{
            margin: 10px 0;
        }
        .text{
            padding: 5px;
            border-radius: 5px;
            // border: 1px solid #000;
        }
        .button{
            float: right;
        }

        .reset{
            margin: 0 10px;
            padding: 5px 20px;
        }
        .submit{
            float: right;
            padding: 5px 20px;
        }
    }

}

.footer{
    float: right;
    height: auto;
    background: #EFE9E7;
    padding: 30px 0;
    >li{
        float: left;
        width: 33.3333%;
        padding: 20px;
        h2{
            font-size: $font-s*1.5;
            margin-bottom: 20px;
        }
        p{
            line-height: 20px;
            text-align: justify;
        }
    }
    .connect{
        ul{
            list-style-type: disc;
            li{
                margin-left: 22px;
                line-height: 20px;
            }
        }    
    }
    .footer-logo{
        padding-right: 30px; 
        h2{
            a{
                background-image: url('../img/logo_l@svg.svg');
                display: block;
                width: 244px;
                height: 49px;
                text-indent: 200%;
                overflow: hidden;
                white-space: nowrap;
                float: right;
            }
        }
    }
    .community{
        float: right;
        padding-right: 30px;
        padding-top: 30px; 
        li{
            float: left;
            margin-left: 20px;
            a{
                display: block;
                width: 32px;
                height: 32px;
            }
        }
        .google{
            a{
                background-image: url('../img/google_plus.png');

            }
        }
        .twitter{
            a{
                background-image: url('../img/twitter.png');
            }
        }
        .fb{
            a{
                background-image: url('../img/fb.png');
            }
        }
    }
}