$font-all: "Microsoft JhengHei",PMingLiU,MingLiu,"Segoe UI",Helvetica,Garuda,Arial,sans-serif;
$color-top: #fff;
$color-b: #EFE9E7;
$color-d: #3D1101;
$font-xs: 12px;
$font-s: 16px;
$font-m: 18px;
$font-l: 20px;


@import "_mixin.scss";
@import "_reset.scss";
@import "_layout.scss";
